<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title    [style.font-family]="fuenteSeleccionada">
      Configuración
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [style.font-size]="fontSize" [fullscreen]="true" [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Configuración</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-text>
    <h2 [style.font-size]="fontSize || '16'" class="ion-text-center">Apariencia</h2>      
  </ion-text>
  <ion-item >
    <ion-toggle [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'"  slot="end" [checked]="darkMode" (ionChange)="toggleDarkMode()" >
      Modo Oscuro
    </ion-toggle>
  </ion-item>
   
  <ion-list>
    <ion-item>
      <ion-label [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'"  >Tamaño de Letra:</ion-label>
      <ion-range [(ngModel)]="fontSize"  min="10" max="32" step="2">
        <ion-icon slot="start" size="small" name="text"></ion-icon>
        <ion-icon slot="end" name="text"></ion-icon>
      </ion-range>
      <ion-button (click)="saveSize()"  [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'" >Guardar</ion-button>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'" >Fuente</ion-label>
      <ion-select [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'"  [(ngModel)]="fuenteSeleccionada">
        <ion-select-option *ngFor="let fuente of fuentesDisponibles" [value]="fuente">{{ fuente }}</ion-select-option>
      </ion-select>
      <ion-button [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'"  (click)="guardarFuente()">Guardar Fuente</ion-button>
    </ion-item>
  </ion-list>

</ion-content>

