<ion-header [translucent]="true">
  <ion-toolbar  class="custom-toolbar">
    <ion-title class="ion-text-center">PANEL DE REPORTES</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  
  
  <!-- Reportes -->
  <ion-card>
    <ion-card-header class="custom-card-header">
      <ion-card-title class="custom-card-title">REPORTES</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <iframe title="REPORTES" width="1140" height="541.25" src="https://app.fabric.microsoft.com/reportEmbed?reportId=69eb91ff-820e-4972-a779-241f51ba00dd&autoAuth=true&ctid=968c1946-4270-4183-b6fa-ca951043c684" frameborder="0" allowFullScreen="true"></iframe>
    
    </ion-card-content>
  </ion-card>

</ion-content>