<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>iniciaSecion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">iniciaSecion</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <form #formilario="ngForm" (ngSubmit)="onSubmitTemplete()"> -->
    <ion-list>
      <ion-list>
        <ion-item>
          <ion-label class="cambiar-fuente" position="floating">Nombre</ion-label>
          <ion-input class="cambiar-fuente" placeholder [(ngModel)]="nombre"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label class="cambiar-fuente" position="floating">Password</ion-label>
          <ion-input class="cambiar-fuente"
            placeholder
            [(ngModel)]="contresenia"
            type="password"
          ></ion-input>
        </ion-item>

        <ion-item>
          <!-- <ion-input label="Sexo: " placeholder [(ngModel)]="sexo"></ion-input> -->
        </ion-item>
      </ion-list>
      <ion-button (click)="inicoSesion()" color="primary" size="small">Aceptar</ion-button>
      <ion-button (click)="botonCancelar()" color="primary" size="small">Cancelar</ion-button>
    </ion-list>
  <!-- </form> -->
</ion-content>
