<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Panel de Administración</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-title size="large" class="ion-text-center">Panel de Administración</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Funcionalidades -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Funcionalidades</ion-card-title>
    </ion-card-header>
  <ion-card-content>

<!-- Botón para Mostrar/Ocultar Funcionalidades -->
<ion-button expand="full" (click)="toggleFuncionalidades()">{{ mostrarListaFuncionalidades ? 'Ocultar Funcionalidades' : 'Mostrar Funcionalidades' }}</ion-button>

<!-- Se muestran los campos de entrada al hacer clic en Agregar Funcionalidad -->
<ion-button expand="full" (click)="addFuncionalidad()">
  Agregar Funcionalidad
</ion-button>

<!-- Campos de entrada para agregar una nueva funcionalidad -->

  <ion-label>Ingrese el Nombre de la Funcionalidad</ion-label>
  <ion-input name="nombrefuncionalidad" type="text" [(ngModel)]="funcionalidadNombre"></ion-input>

  <ion-label>Ingrese la Descripción de la Funcionalidad</ion-label>
  <ion-input name="descripcionfuncionalidad" type="text" [(ngModel)]="funcionalidadDescripcion"></ion-input>


<div class="ion-padding">
<!-- Lista de Funcionalidades -->
  <table *ngIf="mostrarListaFuncionalidades" style="width: 100%;">
    <thead>
      <tr>
        <th>Id</th>       
        <th>Nombre</th>
        <th>Descripción</th>
        <th style="width: 165px;">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let funcionalidad of listaFuncionalidades">
              <td>{{ funcionalidad.id }}</td>
              <td>{{ funcionalidad.nombre }}</td>
              <td>{{ funcionalidad.descripcion }}</td>
              <td>
                <ion-button shape="square" (click)="editarFuncionalidad(funcionalidad)">
                  <ion-icon name="create-outline"></ion-icon>
                </ion-button>
                <ion-button shape="square" (click)="guardarFuncionalidad()">
                  <ion-icon name="save-outline"></ion-icon>
                </ion-button>
                <ion-button shape="square" (click)="eliminarFuncionalidad(funcionalidad)">
                  <ion-icon name="trash-outline"></ion-icon>
                </ion-button>
              </td>
            </tr>
          </tbody>
        </table>
      <div *ngIf="listaFuncionalidades.length === 0 && mostrarListaFuncionalidades" class="ion-text-center">
      No hay funcionalidades disponibles.
      </div>
    </div>
  </ion-card-content>
</ion-card>

  <!-- Roles de Usuario -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Roles de Usuario</ion-card-title>
    </ion-card-header>
    <ion-card-content>

 <!-- Botón para Mostrar/Ocultar Roles de usuario -->
 <ion-button expand="full" (click)="toggleRolesUsuario()">{{ mostrarListaRolesUsuario ? 'Ocultar Roles de Usuario' : 'Mostrar Roles Usuarios' }}</ion-button>

<!-- Se muestran los campos de entrada al hacer clic en Agregar Rol Usuario -->
<ion-button expand="full" (click)="agregarRolUsuario()">
  Agregar Rol Usuario
</ion-button>

<!-- Campos de entrada para agregar un nuevo rol -->

  <ion-label>Ingrese el Nombre del Rol</ion-label>
  <ion-input name="nombrerolusuario" type="text" [(ngModel)]="rolUsuarioNombre"></ion-input>

  <ion-label>Ingrese la Descripción del Rol</ion-label>
  <ion-input name="descripcionrolusuario" type="text" [(ngModel)]="rolUsuarioDescripcion"></ion-input>

<div class="ion-padding">
        <!-- Lista de Roles de Usuario -->
        <table *ngIf="mostrarListaRolesUsuario" style="width: 100%;">
          <thead>
            <tr>
              <th>Id</th> 
              <th>Nombre</th>
              <th>Descripción</th>
              <th style="width: 165px;">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let rol of listaRolesUsuarios">
              <td>{{ rol.id }}</td>
              <td>{{ rol.nombrE_ROL }}</td>
              <td>{{ rol.descripcion }}</td>
              <td>
                <ion-button shape="square" (click)="editarRolUsuario(rol)">
                  <ion-icon name="create-outline"></ion-icon>
                </ion-button>
                <ion-button shape="square" (click)="guardarRolUsuario()">
                  <ion-icon name="save-outline"></ion-icon>
                </ion-button>
                <ion-button shape="square" (click)="eliminarRolUsuario(rol)">
                  <ion-icon name="trash-outline"></ion-icon>
                </ion-button>
              </td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="listaRolesUsuarios.length === 0 && mostrarListaRolesUsuario" class="ion-text-center">
          No hay roles de usuario disponibles.
        </div>
      </div>
    </ion-card-content>
  </ion-card>

<!-- Asignación de Roles -->
<ion-card>
      <ion-card-header>
        <ion-card-title>Asignación de Roles</ion-card-title>
      </ion-card-header>
      <ion-card-content>
<!-- Botón para Mostrar/Ocultar Lista de Asignaciones de Roles -->
<ion-button expand="full" (click)="toggleAsignacionRoles()">{{ mostrarListaAsignacionRoles ? 'Ocultar Asignaciones de Roles' : 'Mostrar Asignaciones de Roles' }}</ion-button>
<ion-button expand="full" (click)="agregarAsignacionRol()">
  Agregar Asignacion a Usuario
</ion-button>

<!-- Campo de búsqueda por ID de Usuario -->
<ion-item>
  <ion-label>Buscar Usuario por ID</ion-label>
  <ion-searchbar [(ngModel)]="busquedaUsuario" (ionChange)="buscarUsuario()" placeholder="Buscar por ID de Usuario"></ion-searchbar>
  <ion-button (click)="buscarUsuario()" slot="end">Buscar</ion-button>
</ion-item>

<!-- Lista desplegable de Usuarios -->
<ion-item>
  <ion-label>Seleccionar Usuario</ion-label>
  <ion-select [(ngModel)]="usuarioSeleccionado" label="Seleccionar Usuario">
    <ion-select-option *ngFor="let usuario of listaUsuarios" [value]="usuario.id">{{ usuario.nombreCompleto }}</ion-select-option>
  </ion-select>
</ion-item>

<!-- Lista desplegable de Roles de Usuario -->
<ion-item>
  <ion-select label="Seleccionar Rol de Usuario" [(ngModel)]="rolUsuarioSeleccionado">
    <ion-select-option *ngFor="let rol of listaRolesUsuarios" [value]="rol.id">{{ rol.nombrE_ROL }}</ion-select-option>
  </ion-select>
</ion-item>


<div class="ion-padding">
<!-- Lista de usuarios asignados -->
<table *ngIf="mostrarListaAsignacionRoles" style="width: 100%;">
  <thead>
    <tr>
      <th>Id</th>
      <th>Usuario</th>
      <th>Rol</th>
      <th style="width: 165px;">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let asignacion of listaAsignacionRoles">
      <td>{{ asignacion.id }}</td>
      <td>{{ obtenerNombreUsuario(asignacion.idUsuario) }}</td>
      <td>{{ obtenerNombreRol(asignacion.idRol) }}</td>
      <td>
        <ion-button shape="square" (click)="editarAsignacion(asignacion)">
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>
        <ion-button shape="square" (click)="guardarAsignacion()">
          <ion-icon name="save-outline"></ion-icon>
        </ion-button>
        <ion-button shape="square" (click)="eliminarAsignacion(asignacion)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </td>
    </tr>
  </tbody>
</table>
<div *ngIf="listaAsignacionRoles.length === 0 && mostrarListaAsignacionRoles" class="ion-text-center">
  No hay asignaciones disponibles.
</div>