<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Panel de Administración</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-title size="large" class="ion-text-center">Panel de Administración</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Funcionalidades -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Funcionalidades</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <!-- Botones para Funcionalidades -->
      <ion-button expand="full" (click)="toggleFuncionalidades()">{{ mostrarListaFuncionalidades ? 'Ocultar Funcionalidades' : 'Mostrar Funcionalidades' }}</ion-button>
      <ion-button expand="full" (click)="agregarFuncionalidad()">
      Agregar Funcionalidad
      <ion-input name="nombrefuncionalidad" type="text" placeholder="Ingrese el Nombre de la Funcionalidad" [(ngModel)]="funcionalidadNombre"></ion-input>
      <ion-input name="descripcionfuncionalidad" type="text" placeholder="Ingrese la Descripción de la Funcionalidad" [(ngModel)]="funcionalidadDescripcion"></ion-input>
      </ion-button>

<div class="ion-padding">
<!-- Lista de Funcionalidades -->
<table *ngIf="mostrarListaFuncionalidades" style="width: 100%;">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th style="width: 165px;">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let funcionalidad of listaFuncionalidades">
      <td>{{ funcionalidad.nombre }}</td>
      <td>{{ funcionalidad.descripcion }}</td>
      <td>
        <ion-button shape="square" (click)="editarFuncionalidad(funcionalidad)">
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>
        <ion-button shape="square" (click)="guardarFuncionalidad()">
          <ion-icon name="save-outline"></ion-icon>
        </ion-button>
        <ion-button shape="square" (click)="eliminarFuncionalidad()">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </td>
    </tr>
  </tbody>
</table>
<div *ngIf="listaFuncionalidades.length === 0 && mostrarListaFuncionalidades" class="ion-text-center">
  No hay funcionalidades disponibles.
</div>
</div>
    </ion-card-content>
  </ion-card>

  <!-- Roles de Usuario -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Roles de Usuario</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <!-- Botones para Roles de Usuario -->
      <ion-button expand="full" (click)="toggleRolesUsuario()">{{ mostrarListaRolesUsuario ? 'Ocultar Roles de Usuario' : 'Mostrar Roles Usuarios' }}
      </ion-button>      <ion-button expand="full" (click)="agregarRolUsuario()">
      Agregar Rol Usuario
      <ion-input name="nombrerolusuario" type="text" placeholder="Ingrese el Nombre del Rol de Usuario" [(ngModel)]="rolUsuarioNombre"></ion-input>
      <ion-input name="descripcionrolusuario" type="text" placeholder="Ingrese la Descripción del Rol de Usuario" [(ngModel)]="rolUsuarioDescripcion"></ion-input>
      </ion-button>


      <div class="ion-padding">
        <!-- Lista de Roles de Usuario -->
        <table *ngIf="mostrarListaRolesUsuario" style="width: 100%;">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Descripción</th>
              <th style="width: 165px;">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let rol of listaRolesUsuarios">
              <td>{{ rol.nombrE_ROL }}</td>
              <td>{{ rol.descripcion }}</td>
              <td>
                <ion-button shape="square" (click)="editarRolUsuario(rol)">
                  <ion-icon name="create-outline"></ion-icon>
                </ion-button>
                <ion-button shape="square" (click)="guardarRolUsuario()">
                  <ion-icon name="save-outline"></ion-icon>
                </ion-button>
                <ion-button shape="square" (click)="eliminarRolUsuario()">
                  <ion-icon name="trash-outline"></ion-icon>
                </ion-button>
              </td>
            </tr>
          </tbody>
        </table>
      
        <div *ngIf="listaRolesUsuarios.length === 0 && mostrarListaRolesUsuario" class="ion-text-center">
          No hay roles de usuario disponibles.
        </div>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>