<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'" class="ion-text-center" >Carrito de Compra</ion-title>
  </ion-toolbar>
  <style>
    .styled-table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 20px;
    }
    th, td {
      border: 1px solid #ccc;
      padding: 8px;
      text-align: left;
    }
  </style>
</ion-header>

<ion-content [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-title size="large" [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'" class="ion-text-center">Carrito de Compra</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--|||||||||| CARRITO DE COMPRAS ||||||||||-->

  <!-- Agregar o Actualizar Carrito -->
  <ion-card [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'">
    <ion-card-header>
      <ion-card-title class="ion-text-center" [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'">Agregar o Actualizar Carrito</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!--Formualario para agregar o actualizar-->
      <form  >
        <ion-item>
          <ion-label [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'" position="floating">ID del Carrito</ion-label>
          <ion-input [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'" type="number" id="id" name="id" [(ngModel)]="id"  ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'">Fecha</ion-label>
          <ion-input [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'" type="date" id="fecha" [(ngModel)]="fecha" name="fecha" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'">ID de Usuario</ion-label>
          <ion-input [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'" type="text" id="idUsuario" [(ngModel)]="idUsuario" name="idUsuario" ></ion-input>
        </ion-item>
        <!-- Botón para Agregar -->
        <ion-button [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'" 
          expand="full" 
          color="primary" 
          type="submit" 
          shape="round"
          (click)="addCarrito()"
          >
          Agregar Carrito
        </ion-button> 
      </form>
    </ion-card-content>
  </ion-card>

  <!-- Obtener o Eliminar Carrito por ID -->
  <ion-card [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'">
    <ion-card-header>
      <ion-card-title [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'" class="ion-text-center">Obtener o Eliminar Carrito por ID</ion-card-title>
    </ion-card-header>
    <ion-card-content [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'">    
        <ion-item>
          <ion-label position="floating" [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'">ID del Carrito</ion-label>
          <ion-input [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'" type="number" [(ngModel)]="id"></ion-input>
        </ion-item>
        <ion-button [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'" expand="full" color="primary" (click)="getCarritoById()" shape="round" >Obtener Carrito</ion-button>
        <ion-button [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'" expand="full" color="danger" (click)="deleteCarrito(id)" shape="round">Eliminar Carrito</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'" *ngIf="carritoCompra">
    <ion-card-header>
      <ion-card-title class="ion-text-center" [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'">Detalles del Carrito</ion-card-title>
    </ion-card-header>
    <ion-card-content [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'">
      <p><strong>ID:</strong> {{ carritoCompra.id }}</p>
      <p><strong>Fecha:</strong> {{ carritoCompra.fecha }}</p>
      <p><strong>ID Usuario:</strong> {{ carritoCompra.idUsuario }}</p>
    </ion-card-content>
  </ion-card>

  <!--Últimos 5 Carritos-->
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center" [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'">Últimos 5 Carritos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <table [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'" class="styled-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Fecha</th>
            <th>ID Usuario</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listaCarrito">
            <td>{{ item.id }}</td>
            <td>{{ item.fecha }}</td>
            <td>{{ item.idUsuario }}</td>
          </tr>
        </tbody>
      </table>
    </ion-card-content>
  </ion-card>


  <!--|||||||||| DETALLE DE CARRITO ||||||||||-->

  <!--Agregar o Actualizar Detalle de Carrito-->
  <ion-card>
    <ion-card-header>
      <ion-card-title [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'" class="ion-text-center">Agregar o Actualizar Detalle de Carrito</ion-card-title>
    </ion-card-header>
    <ion-card-content [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'">
      <ion-item>
        <ion-label [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'" position="floating">ID del Detalle</ion-label>
        <ion-input [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'" type="number" id="idDetalle" [(ngModel)]="idDetalle"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'" position="floating">ID del Carrito de Compra</ion-label>
        <ion-input [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'" type="number" id="idCarritoCompra" [(ngModel)]="idCarritoCompra"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'" position="floating">ID del Producto</ion-label>
        <ion-input  [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'" type="number" id="idProducto" [(ngModel)]="idProducto"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'" position="floating">Cantidad</ion-label>
        <ion-input [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'" type="number" [(ngModel)]="cantidad"></ion-input>
      </ion-item>

      <ion-button [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'" expand="full" color="primary" (click)="addDetalleCarrito()" shape="round">Agregar Detalle</ion-button>
      <ion-button [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'" expand="full" color="primary" (click)="updateDetalle()" shape="round">Actualizar Detalle</ion-button>
    </ion-card-content>
  </ion-card>

  <!--Obtener o Eliminar Detalle de Carrito por ID-->
  <ion-card>
    <ion-card-header>
      <ion-card-title [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'" class="ion-text-center">Obtener o Eliminar Detalle de Carrito por ID</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'" position="floating">ID del Detalle</ion-label>
        <ion-input [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'" type="number" id="idDetalle" [(ngModel)]="idDetalle" ></ion-input>
      </ion-item>
      <ion-button [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'" expand="full" color="primary" (click)="getDetalleById()" shape="round">Obtener Detalle</ion-button>
      <ion-button [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'" expand="full" color="danger" (click)="deleteDetalle(idDetalle)" shape="round">Eliminar Detalle</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="detalleCarrito">
    <ion-card-header>
      <ion-card-title class="ion-text-center" [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'" >Detalles del Detalle de Carrito</ion-card-title>
    </ion-card-header>
    <ion-card-content [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'" >
      <p><strong>ID:</strong> {{ detalleCarrito.id }}</p>
      <p><strong>Cantidad:</strong> {{ detalleCarrito.cantidad }}</p>
      <p><strong>ID Producto:</strong> {{ detalleCarrito.idProducto }}</p>
      <p><strong>ID Carrito:</strong> {{ detalleCarrito.idCarritoCompra }}</p>
    </ion-card-content>
  </ion-card>


<!--Últimos 5 Detalles de Carrito-->
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center" [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'">Últimos 5 Detalles de Carrito</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <table [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'" class="styled-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Cantidad</th>
            <th>ID Producto</th>
            <th>ID Carrito de Compra</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listaDetalle">
            <td>{{ item.id }}</td>
            <td>{{ item.cantidad }}</td>
            <td>{{ item.idProducto }}</td>
            <td>{{ item.idCarritoCompra }}</td>
          </tr>
        </tbody>
      </table>
    </ion-card-content>
  </ion-card>
  



</ion-content>
