<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center" >Carrito de Compra</ion-title>
  </ion-toolbar>
  <style>
    .styled-table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 20px;
    }
    th, td {
      border: 1px solid #ccc;
      padding: 8px;
      text-align: left;
    }
  </style>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-title size="large" class="ion-text-center">Carrito de Compra</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Agregar o Actualizar Carrito 
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Agregar o Actualizar Carrito</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">ID del Carrito</ion-label>
        <ion-input type="number" [(ngModel)]="id"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Fecha</ion-label>
        <ion-input type="date" [(ngModel)]="fecha"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">ID de Usuario</ion-label>
        <ion-input type="text" [(ngModel)]="idUsuario"></ion-input>
      </ion-item>
      <ion-button expand="full" color="primary" (click)="addCarrito()" shape="round">Agregar Carrito</ion-button>
      <ion-button expand="full" color="primary" (click)="updateCarrito(id, fecha, idUsuario)" shape="round">Actualizar Carrito</ion-button>
    </ion-card-content>
  </ion-card> -->

  <!-- Agregar o Actualizar Carrito -->
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Agregar o Actualizar Carrito</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Botón para iniciar la actualización -->
      <ion-button color="primary" (click)="startUpdating()">Actualizar</ion-button>
      <!-- Botón para Agregar  -->
      <ion-button color="primary" (click)="stopUpdating()">Agregar</ion-button>

      <!--Formualario para agregar o actualizar-->
      <form (ngSubmit)="onSubmit()" #carritoForm="ngForm">
        <ion-item>
          <ion-label position="floating">ID del Carrito</ion-label>
          <ion-input type="number" [(ngModel)]="id" name="id" [required]="!isUpdating"></ion-input>
          <div *ngIf="isUpdating && carritoForm.form.controls['id'].hasError('required')">El ID del carrito es obligatorio al actualizar.</div>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Fecha</ion-label>
          <ion-input type="date" [(ngModel)]="fecha" name="fecha" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">ID de Usuario</ion-label>
          <ion-input type="text" [(ngModel)]="idUsuario" name="idUsuario" required></ion-input>
        </ion-item>
        <!-- Botón para Agregar -->
        <ion-button expand="full" color="primary" type="submit" shape="round">{{ isUpdating ? 'Actualizar Carrito' : 'Agregar Carrito' }}</ion-button>                
      </form>
    </ion-card-content>
  </ion-card>

  <!-- Obtener o Eliminar Carrito por ID -->
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Obtener o Eliminar Carrito por ID</ion-card-title>
    </ion-card-header>
    <ion-card-content>    
        <ion-item>
          <ion-label position="floating">ID del Carrito</ion-label>
          <ion-input type="number" [(ngModel)]="id"></ion-input>
        </ion-item>
        <ion-button expand="full" color="primary" (click)="getCarritoById()" shape="round" >Obtener Carrito</ion-button>
        <ion-button expand="full" color="danger" (click)="deleteCarrito(id)" shape="round">Eliminar Carrito</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="carritoCompra">
    <ion-card-header>
      <ion-card-title class="ion-text-center">Detalles del Carrito</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>ID:</strong> {{ carritoCompra.id }}</p>
      <p><strong>Fecha:</strong> {{ carritoCompra.fecha }}</p>
      <p><strong>ID Usuario:</strong> {{ carritoCompra.idUsuario }}</p>
    </ion-card-content>
  </ion-card>

  <!--Agregar o Actualizar Detalle de Carrito-->
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Agregar o Actualizar Detalle de Carrito</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">ID del Detalle</ion-label>
        <ion-input type="number" [(ngModel)]="idDetalle"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">ID del Carrito de Compra</ion-label>
        <ion-input type="number" [(ngModel)]="idCarritoCompra"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">ID del Producto</ion-label>
        <ion-input type="number" [(ngModel)]="idProducto"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Cantidad</ion-label>
        <ion-input type="number" [(ngModel)]="cantidad"></ion-input>
      </ion-item>

      <ion-button expand="full" color="primary" (click)="addDetalleCarrito()" shape="round">Agregar Detalle</ion-button>
      <ion-button expand="full" color="primary" (click)="updateDetalle()" shape="round">Actualizar Detalle</ion-button>
    </ion-card-content>
  </ion-card>

  <!--Obtener o Eliminar Detalle de Carrito por ID-->
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Obtener o Eliminar Detalle de Carrito por ID</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">ID del Detalle</ion-label>
        <ion-input type="number" [(ngModel)]="idDetalle" ></ion-input>
      </ion-item>
      <ion-button expand="full" color="primary" (click)="getDetalleById()" shape="round">Obtener Detalle</ion-button>
      <ion-button expand="full" color="danger" (click)="deleteDetalle(idDetalle)" shape="round">Eliminar Detalle</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="detalleCarrito">
    <ion-card-header>
      <ion-card-title class="ion-text-center">Detalles del Detalle de Carrito</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>ID:</strong> {{ detalleCarrito.id }}</p>
      <p><strong>Cantidad:</strong> {{ detalleCarrito.cantidad }}</p>
      <p><strong>ID Producto:</strong> {{ detalleCarrito.idProducto }}</p>
      <p><strong>ID Carrito:</strong> {{ detalleCarrito.idCarritoCompra }}</p>
    </ion-card-content>
  </ion-card>

<!--Últimos 5 Carritos-->
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Últimos 5 Carritos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <table class="styled-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Fecha</th>
            <th>ID Usuario</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listaCarrito">
            <td>{{ item.id }}</td>
            <td>{{ item.fecha }}</td>
            <td>{{ item.idUsuario }}</td>
          </tr>
        </tbody>
      </table>
    </ion-card-content>
  </ion-card>

<!--Últimos 5 Detalles de Carrito-->
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Últimos 5 Detalles de Carrito</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <table class="styled-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Cantidad</th>
            <th>ID Producto</th>
            <th>ID Carrito de Compra</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listaDetalle">
            <td>{{ item.id }}</td>
            <td>{{ item.cantidad }}</td>
            <td>{{ item.idProducto }}</td>
            <td>{{ item.idCarritoCompra }}</td>
          </tr>
        </tbody>
      </table>
    </ion-card-content>
  </ion-card>
  



</ion-content>
