<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'" class="ion-text-center">Producto</ion-title>
  </ion-toolbar>
  <style>
    .styled-table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 20px;
    }
    th, td {
      border: 1px solid #ccc;
      padding: 8px;
      text-align: left;
    }
  </style>
</ion-header>

<ion-content [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-title [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'" size="large" class="ion-text-center">Producto</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Agregar o Actualizar Producto -->
  <ion-card [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'">
    <ion-card-header>
      <ion-card-title class="ion-text-center">Agregar o Actualizar Producto</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form (ngSubmit)="updateProducto(id, nombre, idCategoria)">
        <ion-item>
          <ion-label position="floating" [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'">ID del Producto</ion-label>
          <ion-input [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'" type="number" [(ngModel)]="id" name="id"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'">Nombre del Producto</ion-label>
          <ion-input [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'" type="text" [(ngModel)]="nombre" name="nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'">ID de la Categoría</ion-label>
          <ion-input [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'" type="number" [(ngModel)]="idCategoria" name="idCategoria"></ion-input>
        </ion-item>
        <ion-button [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'" expand="full" color="primary" type="submit" shape="round">Actualizar Producto</ion-button>
        <ion-button [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'" expand="full" color="primary" (click)="addProducto()" shape="round">Agregar Producto</ion-button>
      </form>
    </ion-card-content>
  </ion-card>

  <!-- Obtener o Eliminar Producto por ID -->
  <ion-card [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'">
    <ion-card-header>
      <ion-card-title class="ion-text-center" [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'">Obtener o Eliminar Producto por ID</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form >
        <ion-item>
          <ion-label position="floating" [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'" [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'">ID del Producto</ion-label>
          <ion-input [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'" type="number" name="id" id="id" [(ngModel)]="id" ></ion-input>
        </ion-item>

        <!-- Botones para obtener y eliminar producto -->
        <ion-button [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'" expand="full" color="primary" (click)="getById()" shape="round">Obtener Producto</ion-button>
        <ion-button [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'" expand="full" color="danger" (click)="deleteProducto(id)" shape="round">Eliminar Producto</ion-button>
      </form>
    </ion-card-content>
  </ion-card>

  <!-- Mostrar Detalles del Producto  Por ID -->
  <ion-card [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'" *ngIf="producto">
    <ion-card-header>
      <ion-card-title [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'" class="ion-text-center">Detalles del Producto</ion-card-title>
    </ion-card-header>
    <ion-card-content>      
        <!-- ID del Producto -->
        <ion-item>
          <ion-label [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'" position="floating">ID del Producto</ion-label>
          <ion-input id="id"  type="number" value="{{producto.id}}" name="id" ></ion-input>
        </ion-item>
        
        <!-- Nombre del Producto -->
        <ion-item>
          <ion-label [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'" id="nombre" position="floating">Nombre del Producto</ion-label>
          <ion-input [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'"  type="text" value="{{producto.nombre}}" name="nombre" ></ion-input>
        </ion-item>
        
        <!-- ID de la Categoría -->
        <ion-item>
          <ion-label [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'" position="floating">ID de la Categoría</ion-label>
          <ion-input id="idCategoria" type="number" value="{{producto.idCategoria}}" name="idCategoria" ></ion-input>
        </ion-item>  
    </ion-card-content>
  </ion-card>
  


<!-- Mostrar Lista de Producto -->
  <ion-card [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'">
    <ion-card-header>
      <ion-card-title [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'" class="ion-text-center">Lista de Productos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <table [style.font-family]="fuenteSeleccionada || 'Arial, sans-serif'" class="styled-table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>ID Categoría</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of listaProducto">
              <td>{{ item.id }}</td>
              <td>{{ item.nombre }}</td>
              <td>{{ item.idCategoria }}</td>
            </tr>
          </tbody>
        </table>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content> 