/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

.cambiar-fuente {
  font-family: var(--fuente-seleccionada);
}

.cambiar-tamano{
  font-size: var(--app-font-size);
}

ion-title, ion-card-title, ion-textarea, h2,
 ion-content,ion-button, ion-select, ion-item,ion-label {
  font-family: var(--fuente-seleccionada);
  font-size: var(--app-font-size);
}

ion-content{
  font-family: var(--fuente-seleccionada);
}
ion-button, ion-select{
  font-family: var(--fuente-seleccionada);
}

ion-label{
  font-family: var(--fuente-seleccionada);
}

ion-item{
  font-family: var(--fuente-seleccionada);
}
ion-list{
  font-family: var(--fuente-seleccionada);
}
ion-input{
  font-family: var(--fuente-seleccionada);
}
